---
import Faq from "../Faq.astro";
import type { FaqsProps } from "../../utils/types";

interface Props {
  data: FaqsProps;
}

const { data: { faq } } = Astro.props;
---

<section>
  <div class="mx-auto max-w-3xl px-6 py-16">
    <ul class="space-y-3">
      {faq.map(faq => (
        <Faq question={faq.heading} answer={faq.text} />
      ))}
    </ul>
  </div>
</section>
